<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <!--<remove name="piworks-db" />
	<add name="piworks-db" connectionString="Data Source=db.piworks.net:1530/DEV;User Id=MNP_MOBILIS;Password=mnp;Validate Connection=true;" providerName="Oracle.ManagedDataAccess.Client" />-->
</connectionStrings>